name: Deploy to GitHub Pages (gh-pages branch)

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Publish to gh-pages
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Publish to gh-pages branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
