name: Deploy to GitHub Pages (gh-pages branch)

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Publish to gh-pages
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Upload artifact for GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
